statemachine/pipeline1.json
{
  "Comment": "A description of my state machine",
  "StartAt": "lambdagetdata",
  "States": {
    "lambdagetdata": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:653375228417:function:apidata-lambda-getdata:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "Choice",
      "ResultPath": "$.taskresult"
    },
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.taskresult.Status",
          "StringEquals": "success",
          "Next": "Glue StartJobRun"
        },
        {
          "Variable": "$.taskresult.Status",
          "StringEquals": "failed",
          "Next": "Fail"
        }
      ],
      "Default": "Fail",
      "OutputPath": "$.taskresult",
      "InputPath": "$.taskresult"
    },
    "Glue StartJobRun": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun",
      "Parameters": {
        "JobName": "gluejob1-apidata",
        "Arguments": {
          "--source_bucket": "{$PROJECT_NAME}-bucket-rawjson",
          "--target_bucket": "{$PROJECT_NAME}-transform",
          "--file_name": "$.taskresult.file_name"
        }
      },
      "Next": "Success",
      "ResultPath": "$.glueresult",
      "InputPath": "$.taskresult"
    },
    "Success": {
      "Type": "Succeed"
    },
    "Fail": {
      "Type": "Fail"
    }
  }
}